body{
    background-color:black
}

h1{
    color:red
}

.awal{
    color:white
}

.akhir{
    color:blue
}

#p1{
    color:yellow
}

/* awalan "titik" atau "." adalah untuk edit class.
   sedangkan awalan "hastag" atau "#" untuk edit id.

   class dan id itu yang kita letak di file html nya ya.
*/