.pagination{
    text-align: center;
}

.pagination a{
    padding: 10px 17px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.pagination a.pagination-active{
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: blue;
}

.pagination a:hover:not(.pagination-active){
    background-color: rgb(214, 214, 214);
}